@tailwind base;
@tailwind components;
@tailwind utilities;

.mouse {
  width: 25px;
  height: 45px;
  border: 2px solid #333;
  border-radius: 60px;
  position: absolute;
  bottom: 45px;
  &::before {
    content: "";
    width: 06px;
    height: 06px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
